{% extends "base/base_customer.html" %}
{% load static %}
<head>
        {% block head %}
        {{ block.super }}
        {% endblock %}

        {% block styles %}
        {{ block.super }}
        {% endblock %}

        {% block headscripts %}
        {{ block.super }}
        {% endblock %}
</head>


<body>
    {% block content %}
    {{ block.super }}
    <section class="tv-paddingT100 tv-bgbanner" id="menu">
        <div class="container">
            <div class="row">
                <div class="tv-block-heading">
                    <h2>Our Special Menu </h2>
                </div>
            </div>
            {% if sorted_food %}
            <div class="row">
                    <div class="tv-menu">
                        <div class="col-md-12 col-sm-12 col-xs-12 tv-whitebgclr">
                        <!--create tabs-->
                        <ul class="nav nav-tabs">
                            {% for food_category,food_list in sorted_food.items %}
                            <li {% if food_category  == active_category  %} class="active" {% endif %} ><a data-toggle="tab" href="#fc{{food_category.id}}">{{food_category.name}}</a></li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content">
                                {% for food_category,food_list in sorted_food.items %}
                                <div id="fc{{food_category.id}}" class="tab-pane fade {% if food_category  == active_category  %} in active {% endif %}">
                                        <div class="row">
                                            {% for food in food_list %}
                                            {% if food.availability %}
                                            <div class="col-md-4 col-sm-4 col-xs-6 width-100perc">
                                                <div class="tv-menu-items">
                                                    <div class="tv-menu-item-img">
                                                        <img src="{% if food.avatar.url %}{{food.avatar.url}}{% else %}{{ food_avatar }}{% endif %}" 
                                                        alt="menu-item" class="img-responsive">
                                                    </div>
                                                    <div class="tv-menu-item-name">
                                                        <h4 class="name">{{food.name}}</h4>
                                                        <p class="tv-menu-item-price">
                                                            Ksh.{{food.price}}
                                                        </p>
                                                        <p hidden class="food-id">{{food.id}}</p>
                                                        <p hidden class="food-name">{{food.name}}</p>
                                                        <p hidden class="food-price">{{food.price}}</p>
                                                        <button id="food-btn{{food.id}}" class="btn btn-info btn-lg add-cart-btn">
                                                            <i class="fas fa-cart-plus"></i> Add to Cart
                                                        </button>
                                                    </div>
                            
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                </div>
                                {% endfor %}

                        </div>
                        <!--create tabs content-->
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="tv-block-heading">
                    <h5>No menu yet</h5>
                </div>
            </div>
            {% endif %}
        </div>
    </section>
    {% endblock %}

    {% block script %}
    {{ block.super }}
   
    {% endblock %}
</body>
