{% extends "base/base_restaurant.html" %}
{% load static %}
<head>
        {% block head %}
        {{ block.super }}
        {% endblock %}
        {% block styles %}
        {{ block.super }}
        <link href="{% static "assets/css/profile.css" %}" rel="stylesheet" media="all">
        {% endblock %}
</head>

<body>
        {% block content %}
        {{ block.super }}
        <section class="profile-">
			<div class="container">
					{% block page_content %}
					<div class="page-header">
						<img class="img-rounded profile-avatar picture-circle" src="{% if profile.avatar.url %}{{profile.avatar.url}}{% else %}{{ human_avatar }}{% endif %}">
						<div class="profile-header">
							<h1>{{ profile.user.username }}</h1>
							{% comment %} {% if profile.first_name and profile.last_name %}
							<p>
								Full name: {{ profile.first_name}} {{ profile.last_name }}
							</p>
							{% endif %}
							{% if profile.city %}
							<p>
								City: {{ profile.city }}
							</p>
							{% endif %}
							{% if request.user == profile.user %}
							<p>
								Email: {{ profile.user.email }}
							</p>
							{% endif %}
							{% if profile.bio %}
							<p>
								Bio: {{ profile.bio }}
							</p>
							{% endif %}
							{% if profile_ratings %}
							<p>
								Ratings: {{ profile_ratings }}
							</p>
							{% endif %}
							{% if profile.time_created %}
							<p>
								Member since: {{ profile.time_created |date }}
							</p>
							{% endif %} {% endcomment %}
							{% if request.user == profile.user %}
							<p>
								<a class="btn btn-primary btn-sm" href="{% url 'restaurant:edit-profile' %}">
									<i class="fas fa-edit"></i>&nbsp; Edit
								</a>
								<a class="btn btn-primary btn-sm" href="{% url 'restaurant:add-food' %}">
										<i class="fas fa-utensils"></i>&nbsp; Add Food Item
                                </a>
                                <a class="btn btn-primary btn-sm" href="{% url 'restaurant:add-food-category' %}">
										<i class="fas fa-utensils"></i>&nbsp; Add Food Category
								</a>
							</p>
							{% endif %}
						</div>
					</div>
					{% endblock %}
			</div>
		</section>
		<section class=" statistic-chart">
            <div class="container">
                    <div class="device-header"><h2>Food Categories</h2></div>
                    <hr>
                    {% if profile.food_category.all %}
                    <div class="row">
                        {% for foodcategory in profile.food_category.all %}
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    <strong class="card-title mb-3">{{ foodcategory.name}}</strong>
                                </div>
                                <div class="card-body">
                                    <div class="mx-auto d-block">
                                        <img class="img-rounded profile-avatar picture-circle" src="{% if foodcategory.avatar.url %}{{foodcategory.avatar.url}}{% else %}{{ food_category_avatar }}{% endif %}">
                                        <hr/>
                                        {% if request.user == profile.user %}
                                        <div class="edit">
                                            <a class="btn btn-primary btn-sm" href="{% url 'restaurant:edit-food-category' foodcategory.id %}">
                                                <i class="fas fa-edit"></i>&nbsp; Edit
                                            </a>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                        <h2>No Food Items yet</h2>
                    {% endif %}
                </div>
			<div class="container">
				<div class="device-header"><h2>Food Items</h2></div>
				<hr>
				{% if profile.food.all %}
				<div class="row">
					{% for fooditem in profile.food.all %}
					<div class="col-md-4">
						<div class="card">
							<div class="card-header">
								<strong class="card-title mb-3">{{ fooditem.name}}</strong>
							</div>
							<div class="card-body">
								<div class="mx-auto d-block">
									<img class="img-rounded profile-avatar picture-circle" src="{% if fooditem.avatar.url %}{{fooditem.avatar.url}}{% else %}{{ food_avatar }}{% endif %}">
									<hr/>
									<h3 class="mt-2 mb-1">Details</h3>
									<ul>
										<li>Category: {{ fooditem.category.name }}</li>
										<li>Available: {% if fooditem.availability  %} {{"Yes"}} {% else %} {{"No"}}  {% endif %}</li>
										<li>Price: Ksh.{{ fooditem.price}}</li>
									</ul>
									{% if request.user == profile.user %}
									<div class="edit">
										<a class="btn btn-primary btn-sm" href="{% url 'restaurant:edit-food' fooditem.id %}">
											<i class="fas fa-edit"></i>&nbsp; Edit
										</a>
									</div>
									{% endif %}
								</div>
								<hr>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				{% else %}
					<h2>No Food Items yet</h2>
				{% endif %}
			</div>


		</section>
        {% endblock %}
</body>
